<div class="container-fluid overflow-hidden">
    <div class="row mt-4">
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a FeedBack</h5>
                    <button class="btn btn-success">Create FeedBack</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Find a FeedBack By FreeLancer</h5>
                    <button class="btn btn-primary">Find FeedBack By FreeLancer</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Average Ratings of FreeLancer</h5>
                    <button class="btn btn-warning">Average Ratings</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>